header {
    transition: background 0.4s ease, box-shadow 0.4s ease;
}

header.navbar-active {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

header.navbar-active nav a,
header.navbar-active nav h1 {
    color: #ffffff;
}
/* ================= LINK ACTIVO ================= */
nav a.active {
    color: #0071e3;
    font-weight: 700;
    border-bottom: 2px solid #0071e3;
    padding-bottom: 2px;
}

header.navbar-active nav a.active {
    color: #ffffff;
    border-bottom-color: #ffffff;
}